#app {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  min-height: 700px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  flex-direction: column;
  padding: 10px 10px;
}

.title {
  margin: 0 auto;
}

.global__nav {
  display: flex;
  justify-content: center;
}

#login-btn-wrapper {
  width: 80px;
  height: 25px;
  margin-left: auto;
  display: flex;
}

.btn {
  width: 140px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn:hover {
  /* background-color: ; */
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: #282828;
}

.hide {
  display: none;
}

.show {
  display: initial;
}
