.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-container.hide {
  display: none;
}

.modal-close {
  margin: 20px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

svg {
  display: block;
}

.close-x {
  stroke: gray;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

.dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dimmer-bg-color);
}

.search-modal {
  position: relative;
  width: 1080px;
  height: 727px;
  background: var(--white-100);
  border: 1px solid var(--search-modal-border-color);
  border-radius: 4px;
  padding: 50px 30px 32px 30px;
}

.search-modal__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search-input__keyword {
  width: 400px;
  height: 36px;
  margin-right: 20px;
  padding: 4px 8px;
  border: 1px solid var(--search-input-border-color);
  border-radius: 4px;
}

.search-input__keyword::placeholder {
  color: var(--gray-400);
  font-size: 16px;
}

.search-input__search-button {
  width: 72px;
  height: 36px;
  background: var(--search-button-bg-color);
  color: #ffffff;
}

.search-result.search-result--no-result {
  justify-content: center;
  align-items: center;
}

.no-result__image {
  width: 190px;
  height: 140px;
  margin-bottom: 32px;
}

.no-result__description {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
}

.video-list {
  width: 1040px;
  height: 493px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 20px;
  overflow-y: scroll;
}

.video-item {
  position: relative;
  width: 240px;
  height: 255px;
}

.video-item__thumbnail {
  width: 100%;
  height: 135px;
}

.video-item__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 0;
}

.video-item__channel-name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-item__published-date {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.video-item__save-button {
  position: absolute;
  right: 0;
  width: 80px;
  height: 36px;
  background: var(--gray-150);
  margin-top: 4px;
}

.video-item__save-button:hover {
  background: var(--gray-250);
}
@media only screen and (max-width: 1024px) {
  .search-modal {
    width: 800px;
  }

  .video-list {
    width: 700px;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px 20px;
  }

  .video-list .video-item {
    width: 200px;
    height: 195px;
  }
}

@media only screen and (max-width: 768px) {
  .search-modal {
    width: 700px;
  }

  .search-input__keyword {
    width: 250px;
  }

  .video-list {
    width: 600px;
  }
}

@media only screen and (max-width: 375px) {
  .search-input__keyword {
    width: 150px;
  }

  .video-list {
    width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }
}
